  <ng-container [ngSwitch]="passwordHandleCases">
    <ng-container *ngSwitchCase="PassWordHandleCases.CreateNewPassword">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Input password here" [(ngModel)]="password">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="Confirm password here" [(ngModel)]="confirmPassword">
      </mat-form-field>

      <ion-button [disabled]="" (click)="createPassword()"> Create password </ion-button>
    </ng-container>

    <ng-container *ngSwitchCase="PassWordHandleCases.ForgotPassword">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Old Password</mat-label>
        <input matInput placeholder="Input old password here" [(ngModel)]="oldPassword">
      </mat-form-field>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Recovery key</mat-label>
        <input matInput placeholder="Input recovery key" [(ngModel)]="recoveryKeyInput">
      </mat-form-field>


      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>New Password</mat-label>
        <input matInput placeholder="Input old password here" [(ngModel)]="newPassword">
      </mat-form-field>

      <ion-button (click)="reNewPassword()"> Re-new password </ion-button>
    </ng-container>

    <ng-conatiner *ngSwitchCase="PassWordHandleCases.SuccessfulInfo">
      <p>CONGRATULATIONS</p>
      <p> Please copy this recovery key: </p>
      <p> {{ recoveryKey }}</p>
    </ng-conatiner>

  </ng-container>  
  
 
