<ng-container [ngSwitch]="handleCasePassword">
  <ng-container *ngSwitchCase="PassWordHandleCases.CreateNewPassword">
    <h1 mat-dialog-title>Create your password</h1>

    <form [formGroup]="formData" (ngSubmit)="createPassword(formData.value)">
      <label>Password</label>
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Input password here" formControlName="password" [(ngModel)]="password">
      </mat-form-field>

      <label>Confirm Password</label>
      <div style="margin-bottom: 32px;">
        <mat-form-field class="mat-form-field-final" appearance="fill">
          <input matInput placeholder="Confirm password here" formControlName="confirmPassword" [(ngModel)]="confirmPassword">
        </mat-form-field>
        <mat-error *ngIf="showError">
          Error: {{message}}
        </mat-error>
      </div>

      <div class="div-text-align">
        <ion-button type="submit" class="btn-create-password remove-shadow-root" [disabled]=""> Create password </ion-button>
      </div>   
    </form>  
  </ng-container>

  <ng-container *ngSwitchCase="PassWordHandleCases.ForgotPassword">
    <h1 mat-dialog-title>Change password</h1>

    <form [formGroup]="formData" (ngSubmit)="reNewPassword(formData.value)">
      <label>Old Password</label>
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Input old password here" formControlName="oldPassword" [(ngModel)]="oldPassword">
      </mat-form-field>

      <label>Recovery key</label>
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Input recovery key" formControlName="recoveryKeyInput" [(ngModel)]="recoveryKeyInput">
      </mat-form-field>


      <label>New Password</label>
      <div style="margin-bottom: 32px;">
        <mat-form-field class="mat-form-field-final" appearance="fill">
          <input matInput placeholder="Input old password here" formControlName="newPassword" [(ngModel)]="newPassword">
        </mat-form-field>
        <mat-error *ngIf="showError">
          Error: {{message}}
        </mat-error>
      </div>

      <div class="div-text-align">
        <ion-button type="submit" class="btn-renew-password remove-shadow-root"> Re-new password </ion-button>
      </div>
    </form>
  </ng-container>

  <ng-conatiner *ngSwitchCase="PassWordHandleCases.SuccessfulInfo">
    <h1 mat-dialog-title>CONGRATULATIONS</h1>

    <div class="div-text-align">
      <label>Please copy this recovery key: </label>
      <p>{{ recoveryKey }}</p>
    </div>
  </ng-conatiner>

</ng-container>  
  
 
