<ng-container [ngSwitch]="handleCasePassword">
  <ng-container *ngSwitchCase="PassWordHandleCases.CreateNewPassword">
    <h1 mat-dialog-title>Create your password</h1>

    <form [formGroup]="formData" (ngSubmit)="createPassword(formData.value)">
      <label>Password</label>
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Input password here" formControlName="password" [(ngModel)]="password" [type]="isPasswordHide ? 'password' : 'text'">
        <button matSuffix (click)="isPasswordHide = !isPasswordHide" >
          <ion-icon [name]="isPasswordHide ? 'eye-off' : 'eye'"></ion-icon>
        </button>  
      </mat-form-field>

      <label>Confirm Password</label>
      <div style="margin-bottom: 32px;">
        <mat-form-field class="mat-form-field-final" appearance="fill">
          <input matInput placeholder="Confirm password here" formControlName="confirmPassword" [(ngModel)]="confirmPassword" [type]="isConfirmPasswordHide ? 'password' : 'text'">
          <button matSuffix (click)="isConfirmPasswordHide = !isConfirmPasswordHide" >
            <ion-icon [name]="isConfirmPasswordHide ? 'eye-off' : 'eye'"></ion-icon>
          </button>  
        </mat-form-field>
        <mat-error *ngIf="showError">
          Error: {{message}}
        </mat-error>
      </div>

      <div class="div-text-align">
        <ion-button type="submit" class="btn-create-password remove-shadow-root" [disabled]=""> Create password </ion-button>
      </div>   
    </form>  
  </ng-container>

  <ng-container *ngSwitchCase="PassWordHandleCases.ForgotPassword">
    <h1 mat-dialog-title>Change password</h1>

    <form [formGroup]="formData" (ngSubmit)="reNewPassword(formData.value)">
      <label>Old Password</label>
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Input old password here" formControlName="oldPassword" [(ngModel)]="oldPassword" [type]="isConfirmPasswordHide ? 'password' : 'text'">
        <button matSuffix (click)="isConfirmPasswordHide = !isConfirmPasswordHide" >
          <ion-icon [name]="isConfirmPasswordHide ? 'eye-off' : 'eye'"></ion-icon>
        </button>  
      </mat-form-field>

      <label>Recovery key</label>
      <mat-form-field class="example-full-width" appearance="fill">
        <input matInput placeholder="Input recovery key" formControlName="recoveryKeyInput" [(ngModel)]="recoveryKeyInput" [type]="isRecoveryKeyHide ? 'password' : 'text'">
        <button matSuffix (click)="isRecoveryKeyHide = !isRecoveryKeyHide" >
          <ion-icon [name]="isRecoveryKeyHide ? 'eye-off' : 'eye'"></ion-icon>
        </button>  
      </mat-form-field>


      <label>New Password</label>
      <div style="margin-bottom: 32px;">
        <mat-form-field class="mat-form-field-final" appearance="fill">
          <input matInput placeholder="Input old password here" formControlName="newPassword" [(ngModel)]="newPassword" [type]="isNewPassword ? 'password' : 'text'">
          <button matSuffix (click)="isNewPassword = !isNewPassword" >
            <ion-icon [name]="isNewPassword ? 'eye-off' : 'eye'"></ion-icon>
          </button>  
        </mat-form-field>
        <mat-error *ngIf="showError">
          Error: {{message}}
        </mat-error>
      </div>

      <div class="div-text-align">
        <ion-button type="submit" class="btn-renew-password remove-shadow-root"> Re-new password </ion-button>
      </div>
    </form>
  </ng-container>

  <ng-conatiner *ngSwitchCase="PassWordHandleCases.SuccessfulInfo">
    <h1 mat-dialog-title>CONGRATULATIONS</h1>

    <div class="div-text-align">
      <label>Please copy this recovery key: </label>
      <p>{{ recoveryKey }}</p>
      <ion-button class="action-button remove-shadow-root" copy-to-clipboard="{{ recoveryKey }}" style="width: 180px;" (click)="this.dialogRef.close()">
        {{ 'Copy' | translate }} 
      </ion-button>
    </div>
  </ng-conatiner>

</ng-container>  