<mat-toolbar>
  <mat-toolbar-row class="custom-toolbar-row">
    <!-- <button class="menu-button" mat-button (click)="opened = !opened">
      <ion-icon name="menu-outline"></ion-icon>
    </button> -->
    <button mat-button class="custom-btn" >
      <a (click)="navigateToImportSeed()">
        <ion-icon name="settings-outline"></ion-icon>
        Import seed
      </a>
    </button>
    <button mat-button class="custom-btn" (click)="logOut()">
      <ion-icon name="log-in-outline"></ion-icon>
      Log out
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose mode="side" [(opened)]="opened">
    <div class="menu-list">
      <!-- <a routerLink="/conversion/import-seed">Import seed </a> -->
      <a routerLink="/conversion/order-tracking">Order Summary </a>
      <a routerLink="/conversion/coin-config">Coin Config </a>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>