<ion-header [translucent]="true" class="bp-header">
  <ion-toolbar class="toolbar-desktop" translucent *ngIf="!this.platformProvider.isCordova">
    <div class="header-container-desktop">
      <img class="logo-abcpay" src="../../../assets/img/abcpay-logo.svg" alt="">
      <img src="../../../assets/img/abcpay-text.svg" alt="">
    </div>
  </ion-toolbar>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back-outline" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div [reveal-at-scroll-pos]="expandableHeader.headerHeight" [scrollArea]="scrollArea">
        {{ selectedCardPrice.unitCode.toUpperCase() | translate }}
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="true" scrollEvents="true" #scrollArea>
  <expandable-header [scrollArea]="scrollArea" [fadeFactor]="5" [disableFade]="true" #expandableHeader>
    <ion-toolbar class="wide-header__title wide-header-chart-view">
      <expandable-header-primary>
        {{ selectedCardPrice.unitCode.toUpperCase() | translate }}
        <span class="date-label">({{selectedCardPrice.name | translate}})</span>
      </expandable-header-primary>
    </ion-toolbar>
  </expandable-header>

  <price-page [cardPrice]="selectedCardPrice"></price-page>
</ion-content>

<ion-footer>
  <ion-toolbar class="toolbar-footer-chart-view">
    <ng-container *ngFor="let coin of coins">
      <ion-chip [ngClass]="{'item-active' : coin.name === selectedCardPrice.name}" [outline]="true" (click)="changePricePage(coin)">
        <ion-label>{{coin.name}}</ion-label>
      </ion-chip>
    </ng-container>
  </ion-toolbar>
</ion-footer>
