chart-view {
    .wide-header-chart-view {
        min-height: 60px !important;
        ion-title {
            display: flex;
            align-items: baseline;
            font-size: 22px;
            line-height: 28px;
            font-weight: 600;
            margin: 1rem 0;
            .date-label {
                font-size: 14px;
                line-height: 20px;
                letter-spacing: 0.25px;
                color: rgba(0, 30, 46, 0.6);
                margin-left: 8px;
            }
        }
    }
    .toolbar-footer-chart-view {
        padding: 1rem !important;
        ion-chip {
            --color: var(--color-primary);
            &.item-active {
                background: var(--color-primary);
                --color: var(--color-inner-item-light-theme);
            }
            ion-label {
                font-weight: 600;
                letter-spacing: 0.1px;
            }
        }
    }
}