<div mat-dialog-content>
  <div  class="order-detail-modal-container">
    <h1>Order detail</h1>
    <div class="order-detail-container">
      <div class="left-part">
        <p>
          <span class="title">Order ID: </span>
          <span style="letter-spacing: 0.5px"> {{ data.id }}</span>
         </p>
        
         <p>
          <span class="title">From coin: </span>
          <span style="text-transform:uppercase"> {{ data.fromCoinCode }}</span>
         </p>
        
         <p>
          <span class="title">Is from token: </span>
          <!-- <span> {{ data.isFromToken }}</span> -->
          <mat-checkbox disabled [(ngModel)]="data.isFromToken"></mat-checkbox>
         </p>
        
         <p>
          <span class="title">To coin: </span>
          <span style="text-transform:uppercase"> {{ data.toCoinCode }}</span>
         </p>
        
         <p>
          <span class="title"> Is to Token: </span>
          <!-- <span> {{ data.isToToken }}</span> -->
          <mat-checkbox disabled [(ngModel)]="data.isToToken"></mat-checkbox>
         </p>
        
         <p>
          <span class="title"> Created rate: </span>
          <span> {{ data.createdRate }}</span>
         </p>
        
         <p>
          <span class="title"> Updated rate: </span>
          <span> {{ data.updatedRate }}</span>
         </p>
         
         <p>
          <span class="title">Deposit Txid</span>
          <ng-container *ngFor="let tx of data.listTxIdUserDeposit">
            <a (click)="viewOnBlockchain(data.fromCoinCode, data.isFromToken, tx)">
              {{ tx }}
            </a>
          </ng-container>
          
         </p>
        
         <p>
          <span class="title">Received Txid</span>
          <ng-container *ngFor="let tx of data.listTxIdUserReceive">
            <a (click)="viewOnBlockchain(data.toCoinCode, data.isToToken, tx)">
              {{ tx }}
            </a>
          </ng-container>
         </p>
        
      </div>
      <div class="right-part">
        <p>
          <span class="title">
            Created on
          </span>
          <span>
            {{ createdOnStr }}
          </span>
         </p>
        
         <p>
          <span class="title">Ended on</span>
          <span>{{ endedOnStr }}</span>
         </p>
        
         <p>
          <span class="title">Pending reason: </span>
          <span> {{ data.pendingReason }}</span>
         </p>
        
         <p>
          <span class="title">Error: </span>
          <span> {{ data.error }}</span>
         </p>
        
         <p>
          <span class="title">Status: </span>
          <span style="text-transform:capitalize"> {{ data.status == 'complete' ? 'Completed' : data.status }}</span>
         </p>
        
        
         <p>
          <span class="title">Is resolve: </span>
          <!-- <span>{{ data.isResolve }}</span> -->
          <mat-checkbox disabled [(ngModel)]="data.isResolve"></mat-checkbox>
         </p>
          <mat-form-field appearance="fill">
            <mat-label>Note</mat-label>
            <textarea rows="5" matInput [(ngModel)]="noteValue" placeholder="type note here"></textarea>
            <div mat-dialog-actions>
              <ion-button class="button-standard button-standard-custom" (click)="handleNote()">{{ isUpdate ? 'Update note' : 'Add note'}}</ion-button>
            </div>
          </mat-form-field>
          
        </div>
        
      </div>
  </div>

  </div>
  
 
