<div mat-dialog-content>
  <div  class="order-detail-modal-container">
    <h1>Order details</h1>
    <div class="order-detail-container">
      <div class="left-part">
        <p>
          <span class="title">Order Id: </span>
          <span> {{ data.id }}</span>
         </p>
        
         <p>
          <span class="title">From coin: </span>
          <span> {{ data.fromCoinCode }}</span>
         </p>
        
         <p>
          <span class="title">Is from token: </span>
          <span> {{ data.isFromToken }}</span>
         </p>
        
         <p>
          <span class="title">To coin: </span>
          <span> {{ data.toCoinCode }}</span>
         </p>
        
         <p>
          <span class="title"> Is to Token: </span>
          <span> {{ data.isToToken }}</span>
         </p>
        
         <p>
          <span class="title"> Created rate: </span>
          <span> {{ data.createdRate }}</span>
         </p>
        
         <p>
          <span class="title"> Updated rate: </span>
          <span> {{ data.updatedRate }}</span>
         </p>
         
         <p>
          <span class="title">listTxIdUserDeposit</span>
          <ng-container *ngFor="let tx of data.listTxIdUserDeposit">
            <a (click)="viewOnBlockchain(data.fromCoinCode, data.isFromToken, tx)">
              {{ tx }}
            </a>
          </ng-container>
          
         </p>
        
         <p>
          <span class="title">listTxIdUserReceive</span>
          <ng-container *ngFor="let tx of data.listTxIdUserReceive">
            <a (click)="viewOnBlockchain(data.toCoinCode, data.isToToken, tx)">
              {{ tx }}
            </a>
          </ng-container>
         </p>
        
      </div>
      <div class="right-part">
        <p>
          <span class="title">
            Created on
          </span>
          <span>
            {{ createdOnStr }}
          </span>
         </p>
        
         <p>
          <span class="title">Ended on</span>
          <span>{{ endedOnStr }}</span>
         </p>
        
         <p>
          <span class="title">Pending reason: </span>
          <span> {{ data.pendingReason }}</span>
         </p>
        
         <p>
          <span class="title">Error: </span>
          <span> {{ data.error }}</span>
         </p>
        
         <p>
          <span class="title">Status: </span>
          <span> {{ data.status }}</span>
         </p>
        
        
         <p>
          <span class="title">Is resolve: </span>
          <span>{{ data.isResolve }}</span>
         </p>
          <mat-form-field appearance="fill">
            <mat-label>Note</mat-label>
            <textarea rows="5" matInput [(ngModel)]="noteValue" placeholder="type note here"></textarea>
            <div mat-dialog-actions>
              <ion-button class="button-standard button-standard-custom" (click)="handleNote()">{{ isUpdate ? 'Update note' : 'Add note'}}</ion-button>
            </div>
          </mat-form-field>
          
        </div>
        
      </div>
  </div>

  </div>
  
 
