
<div class="page-coin-config-container">
  <ion-button (click)="rescan()">Rescan wallet</ion-button>
  <p>Swap</p>

  <ng-container *ngFor="let coin of listSwap">
    <mat-checkbox
    [checked]="checked"
    [disabled]="!coin.isSupport"
    [(ngModel)]="coin.isEnableSwap">
    {{ coin.code }} {{ coin.network === 'testnet' ? ' (testnet)' : '' }}
    </mat-checkbox>
    <div class="min-max-container">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Min</mat-label>
        <input type="number" matInput placeholder="Input min here" [(ngModel)]="coin.min">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Max</mat-label>
        <input type="number" matInput placeholder="Input max here" [(ngModel)]="coin.max">
      </mat-form-field>
    </div>
    
  </ng-container>
  
  <p>Receive</p>
  <ng-container *ngFor="let coin of listReceive">
    <mat-checkbox
    [checked]="checked"
    [disabled]="!coin.isSupport"
    [(ngModel)]="coin.isEnableReceive">
    {{ coin.code }} {{ coin.network === 'testnet' ? ' (testnet)' : '' }}
    </mat-checkbox>
    <div class="min-max-container">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Network fee</mat-label>
        <input type="number" matInput placeholder="Input min here" [(ngModel)]="coin.networkFee">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Service fee</mat-label>
        <input type="number" matInput placeholder="Input max here" [(ngModel)]="coin.serviceFee">
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Service fee</mat-label>
        <input type="number" matInput placeholder="Input max here" [(ngModel)]="coin.settleFee">
      </mat-form-field>
      </div>
  </ng-container>
  
  <ion-button (click)="updateAllCoin()">Apply</ion-button>
</div>