
.page-coin-config-container{
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    p{
        color: black;
    }
    mat-checkbox {
        color: black;
    }
    .min-max-container{
        display: flex;
    }
    mat-form-field{
        color: black;
    }
}