<wide-header-page title="{{'Notification Board' | translate}}" [hasSlideButton]="txpsToSign[0]">
  <div page-content>
    <ion-list class="content-list" *ngIf="txpsPending[0] || txpsAccepted[0] || txpsRejected[0];">
      <div class="wallet-card-container" *ngFor="let txpsByStatus of allTxps">
        <ion-item-divider *ngIf="txpsByStatus.data && txpsByStatus.data[0]" class="item-divider-header">
          <span class="ellipsis">{{txpsByStatus.title | uppercase}}</span>
        </ion-item-divider>
        <ng-container *ngFor="let txpsByWallet of txpsByStatus.data; let i = index">
          <div *ngIf="txpsByWallet.walletId && txpsByWallet.txps && txpsByWallet.txps[0] && txpsByWallet.txps[0].wallet"
            class="wallet-card-content-container">
            <ion-item class="recipient">
              <img class="item-img wallet icon-wallet"
                [ngClass]="{ testnet: txpsByWallet.txps[0].wallet.network === 'testnet' }"
                src="assets/img/currencies/{{txpsByWallet.txps[0].wallet.coin}}.svg" slot="start">
              <ion-label>
                <span class="ellipsis wallet-name-label">{{txpsByWallet.txps[0].wallet.name}}
                  ({{txpsByWallet.txps[0].wallet.m}} - {{txpsByWallet.txps[0].wallet.n}})</span>
              </ion-label>
              <ion-note *ngIf="txpsByStatus.type == 'pending' && txpsByWallet.canSign" slot="end" class="ion-text-end">
                <div class="select-all" *ngIf="txpsByWallet.multipleSignAvailable && !walletIdSelectedToSign">
                  <div class="multi-sign close" (click)="signMultipleProposals(txpsByWallet)">
                    <ion-icon name="list-outline"></ion-icon>
                  </div>
                </div>
                <div class="select-all"
                  *ngIf="walletIdSelectedToSign && txpsByWallet.walletId == walletIdSelectedToSign">
                  <div class="multi-sign" (click)="selectAll(txpsByWallet)">
                    <ion-icon name="checkmark-done-outline"></ion-icon>
                  </div>
                  <div class="multi-sign close" (click)="signMultipleProposals(txpsByWallet)">
                    <ion-icon color="dark" name="close-outline"></ion-icon>
                  </div>
                </div>
              </ion-note>
              <ion-note *ngIf="txpsByStatus.type != 'pending'" slot="end" class="ion-text-end">
                <img *ngIf="txpsByStatus.type == 'accepted'" src="assets/img/proposals-notifications/approve.svg" />
                <img *ngIf="txpsByStatus.type == 'rejected'" src="assets/img/proposals-notifications/reject.svg" />
              </ion-note>
            </ion-item>
            <div class="txp-container" *ngFor="let txp of txpsByWallet.txps">
              <ion-checkbox (ionChange)="txpSelectionChange(txp)"
                *ngIf="walletIdSelectedToSign && txp.walletId == walletIdSelectedToSign && txp.statusForUs === 'pending'"
                [(ngModel)]="txp.checked"></ion-checkbox>
              <page-txp
                [ngClass]="{'with-checkbox': walletIdSelectedToSign && txp.walletId == walletIdSelectedToSign && txp.statusForUs === 'pending'}"
                [tx]="txp" [addressbook]="addressbook"
                [noOpenModal]="walletIdSelectedToSign && txp.walletId == walletIdSelectedToSign && txp.statusForUs === 'pending'">
              </page-txp>
            </div>
          </div>
        </ng-container>
      </div>
    </ion-list>
    <ion-list class="ion-margin-bottom" *ngIf="isShowNotifyLocation">
      <div class="notification-item">
        <ion-item [ngStyle]="{'border': '0' ? isRemindEnableNotification : ''}">
          <ion-icon src="assets/img/notify-icon.svg" slot="start">
          </ion-icon>
          <ion-label>
            <div class="main-label" translate>#Pay4Attention</div>
            <div class="secondary-label" translate>
              Enabling your service location and regularly check-in AbcPay wallet so businesses can pay you for your attention. Your identity is completely private.
            </div>
            <div class="action">
              <p class="btn-open-settings" (click)="openSetting()" translate>
                Open settings
              </p>
            </div>
          </ion-label>
        </ion-item>
      </div>
      <div *ngIf="isRemindEnableNotification" class="notification-item">
        <ion-item style="border: 0;">
          <ion-icon src="assets/img/notify-icon.svg" slot="start">
          </ion-icon>
          <ion-label>
            <div class="main-label" translate>#Remind</div>
            <div class="secondary-label" translate>
              Enable notification to get your prize from businesses who want to appreciate you for your attention.
            </div>
            <div class="action">
              <p class="btn-open-settings" (click)="openSetting()" translate>
                Open settings
              </p>
            </div>
          </ion-label>
        </ion-item>
      </div>
    </ion-list>

    <ion-list *ngIf="notificationClaim[0]">
      <div class="notification-item" *ngFor="let notification of notificationClaim">
        <ion-item>
          <ion-icon src="assets/img/appreciation-icon.svg" slot="start">
          </ion-icon>
          <ion-label>
            <div class="main-label">{{ notification.title }}</div>
            <div class="secondary-label">
              {{notification.body}}
            </div>
            <div class="status-label">
              <p class="expired-date">{{notification.type == 'Monthly' ? 'On Month' : 'On Week'}}</p>
              <p class="date-label">{{ formatDate(notification.createdOn) }}</p>
            </div>
          </ion-label>
          <ion-note slot="end">
            <p class="btn-claim" (click)="handleClaimAppreciation(notification)">
              Claim
            </p>
          </ion-note>
        </ion-item>
      </div>
    </ion-list>
    <ng-container *ngIf="(txpsPending.length == 0 || txpsAccepted.length == 0 || txpsRejected.length == 0) && notificationClaim.length == 0 && !isShowNotifyLocation">
      <div class="no-info-container">
        <img src="assets/img/EmptyNotification-{{currentTheme}}.svg">
        <div class="content">{{'No notifications' | translate}}</div>
      </div>
    </ng-container>
  </div>
</wide-header-page>
<ion-footer>
  <page-slide-to-accept #slideButton *ngIf="isCordova && txpsToSign[0]" [buttonText]="buttonText" (slideDone)="sign()">
  </page-slide-to-accept>
  <ion-toolbar *ngIf="!isCordova && txpsToSign[0]">
    <ion-button expand="full" class="button-footer" (click)="sign()">{{buttonText}}</ion-button>
  </ion-toolbar>
</ion-footer>