page-proposals-notifications {
  .no-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 65vh;
    .content {
      color: rgba(0, 30, 46, 0.6);
      font-size: 16px;
      padding-top: 16px;
    }
  }

  ion-content {
    --padding-bottom: 7rem;
  }

  ion-item-divider {
    background: unset;
    border-bottom: unset;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0px -2px 16px rgb(0 0 0 / 6%), 0px 2px 16px rgb(0 0 0 / 6%),
      0px 0px 4px rgb(0 0 0 / 3%);
    margin-top: 20px;
  }
  .recipient {
    --inner-padding-top: 0;
    --border-color: #dae0e5;
    .icon-wallet {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
  .wallet-card-container {
    background: var(--bg-color-light-theme);
    margin-bottom: 10px;
    .wallet-card-content-container {
      margin-bottom: 15px;
    }
  }
  .wallet-name-label {
    font-size: 16px;
    color: #001e2e;
    font-weight: 600;
  }
  .select-all {
    display: flex;
    .multi-sign {
      cursor: pointer;
      color: var(--color-primary);
      ion-icon {
        font-size: 3rem;
        margin-right: 2rem;
      }
      &.close ion-icon {
        margin-right: 5px;
      }
    }
  }
  .circle-status {
    width: 1rem;
    height: 1rem;
    border-radius: 10px;
    margin-right: 0.3rem;
    padding: 4px;
  }
  .assertive {
    background-color: var(--color-danger);
  }
  .balanced {
    background-color: var(--color-success);
  }
  .txp-container {
    &:last-child .proposal-container {
      .item-inner {
        border-bottom: none;
      }
      --inner-border-width: 0;
    }
    display: flex;
    align-items: center;
    background-color: white;
    ion-checkbox {
      margin-left: 1.2rem;
      .checkbox-icon {
        border-color: var(--color-primary);
      }
    }
    page-txp {
      width: 100%;
    }
    .with-checkbox {
      margin-left: 16px;
      .proposal-container {
        padding-left: 0;
      }
    }
  }

  .notification-item {
    padding-left: 1rem;
    background: #fff;
    ion-item {
      --color-activated: none;
      --inner-padding-bottom: 1rem;
      --inner-padding-end: 0;
      --padding-top: 1rem;
      --padding-start: 0;
      --padding-end: 1rem;
      --inner-border-width: 0;
      border-bottom: 1px solid #f4f4f4;
      font-size: 16px;
      border-left: 0;
      border-right: 0;
      .main-label {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.1px;
      }
      .secondary-label {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.25px;
        white-space: normal;
        color: #000;
        margin-top: 4px;
      }
      .status-label {
        .expired-date {
          font-size: 14px;
          color: var(--color-danger);
          letter-spacing: 0.25px;
          margin-bottom: 12px;
          margin-top: 4px;
        }
        .date-label {
          font-size: 12px;
          letter-spacing: 0.4px;
          color: gray;
        }
      }
      
      .action {
        text-align: right;
        .btn-open-settings {
          font-weight: 600;
          font-size: 14px;
          line-height: 20px;
          margin-top: 1rem;
          cursor: pointer;
          color: var(--color-primary);
        }
      }

      ion-note {
        padding-top: 0;
        padding-bottom: 0;
        align-self: flex-end;
        .btn-claim {
          margin: 0;
          line-height: initial;
          color: var(--color-primary);
          font-weight: 600;
          font-size: 14px;
          letter-spacing: 0.1px;
          cursor: pointer;
        }
      }
      ion-icon {
        margin: 0;
        margin-right: 1rem;
        width: 40px;
        height: 40px;
        align-self: flex-start;
      }
    }
    &:first-child {
      border-top: 1px solid #f4f4f4;
    }
    &:last-child {
      border-bottom: 1px solid #f4f4f4;
      ion-item {
        border: 0;
      }
    }
  }
}
