page-proposals-notifications {
  .no-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 65vh;
    .content {
      color: rgba(0, 30, 46, 0.6);
      font-size: 16px;
      padding-top: 16px;
    }
  }
  ion-item-divider {
    background: unset;
    border-bottom: unset;
    padding: 1rem 1rem 1rem 1rem;
    box-shadow: 0px -2px 16px rgb(0 0 0 / 6%), 0px 2px 16px rgb(0 0 0 / 6%),
      0px 0px 4px rgb(0 0 0 / 3%);
    margin-top: 20px;
  }
  .recipient {
    --inner-padding-top: 0;
    --border-color: #dae0e5;
    .icon-wallet {
      margin-top: 16px;
      margin-bottom: 16px;
    }
  }
  .wallet-card-container {
    background: var(--bg-color-light-theme);
    margin-bottom: 10px;
    .wallet-card-content-container {
      margin-bottom: 15px;
    }
  }
  .wallet-name-label {
    font-size: 16px;
    color: #001e2e;
    font-weight: 600;
  }
  .select-all {
    display: flex;
    .multi-sign {
      cursor: pointer;
      color: var(--color-primary);
      ion-icon {
        font-size: 3rem;
        margin-right: 2rem;
      }
      &.close ion-icon {
        margin-right: 5px;
      }
    }
  }
  .circle-status {
    width: 1rem;
    height: 1rem;
    border-radius: 10px;
    margin-right: 0.3rem;
    padding: 4px;
  }
  .assertive {
    background-color: var(--color-danger);
  }
  .balanced {
    background-color: var(--color-success);
  }
  .txp-container {
    &:last-child .proposal-container {
      .item-inner {
        border-bottom: none;
      }
      --inner-border-width: 0;
    }
    display: flex;
    align-items: center;
    background-color: white;
    ion-checkbox {
      margin-left: 1.2rem;
      .checkbox-icon {
        border-color: var(--color-primary);
      }
    }
    page-txp {
      width: 100%;
    }
    .with-checkbox {
      margin-left: 16px;
      .proposal-container {
        padding-left: 0;
      }
    }
  }
  .container-segment-notification{
    padding: 0 1rem;
    ion-segment{
      ion-segment-button{
        position: relative;
        text-transform: capitalize;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.1px;
        &::part(native){
          color: #001E2E;
        }
        &::part(indicator-background){
          background: #00658D;
        }
        img {
          position: absolute;
          right: -5px;
          top: 5px;
        }
      }
    }
  }
  .recent-notification-item {
    --padding-start: 1rem;
    --padding-end: 1rem;
    --inner-padding-end: 0;
    --inner-padding-top: 1rem;
    --inner-padding-bottom: 1rem;
    margin-top: 1rem;
    img {
      width: 40px;
      height: 40px;
      margin-right: 1rem;
    }
    ion-label {
      display: flex !important;
      .detail-transaction {
        .title-label {
          font-size: 16px;
          font-weight: 600;
          line-height: 24px;
          letter-spacing: 0.1px;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: break-spaces;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .amount {
          font-size: 14px;
          font-weight: 600;
          line-height: 20px;
          letter-spacing: 0.1px;
        }
      }
    }
    ion-note {
      align-self: flex-end;
      .date-label {
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.4px;
      }
    }
    &.read-notification-item {
      .title-label {
        color: rgba(0, 30, 46, 0.6);
      }
      .amount {
        color: rgba(0, 30, 46, 0.6);
      }
    }
  }
}
