.truncate-cell {
    max-width: 60px; /* feel free to include any other value */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

.id-cell{
  max-width: 100px !important;
}

table{
  width: 100%;
}
.highlight{
  background-color: yellow;
}