<div class="order-tracking-container">
  <h1>Order summary</h1>
  <div class="coin-filter-container">
    <div class="filter-group">
      <mat-form-field appearance="none">
        <p class="filter-label">Time: </p>
        <mat-select [(value)]="dateSelected">
          <mat-option [ngClass]="{'dark': this.currentTheme === 'dark'}"
            *ngFor="let coinFilterDate of listCoinFilterDate" [value]="coinFilterDate">
           <p class="">{{ coinFilterDate.label }}</p>
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="none">
        <p class="filter-label">From: </p>
        <mat-select [(value)]="fromCoin">
          <mat-option [ngClass]="{'dark': this.currentTheme === 'dark'}"
            *ngFor="let coinConfig of listCoinConfig" [value]="coinConfig">
           <p>{{ coinConfig.label }}</p>
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="none">
        <p class="filter-label">To: </p>
        <mat-select [(value)]="toCoin">
          <mat-option [ngClass]="{'dark': this.currentTheme === 'dark'}"
            *ngFor="let coinConfig of listCoinConfig" [value]="coinConfig">
            <p>{{ coinConfig.label }}</p>
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="none">
        <p class="filter-label">Status: </p>
        <mat-select [(value)]="status">
          <mat-option [ngClass]="{'dark': this.currentTheme === 'dark'}"
            *ngFor="let status of listStatus" [value]="status">
           <p>{{ status.label }}</p>
          </mat-option>
        </mat-select>
      </mat-form-field>
    
      <ion-button class="btn-filter" fill="outline" (click)="applyFilter()">Apply filter</ion-button>
    </div>
    
    <div>
      <ion-button class="btn-filter" fill="outline" (click)="clearFilter()"> Clear filter</ion-button>
    </div>
  </div>

  <table mat-table  matSort (matSortChange)="sortData($event)" [dataSource]="sortedData" class="mat-elevation-z8 table-order-summary">
  
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id </th>
        <td mat-cell *matCellDef="let element" class="truncate-cell id-cell"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="swapPairCode">
        <th mat-header-cell *matHeaderCellDef> Swap Pair </th>
        <td mat-cell *matCellDef="let element"> {{ element.fromCoinCode.toUpperCase()}} {{ element.fromNetwork === 'testnet' ? '(Testnet)' : ''}}  / {{ element.toCoinCode.toUpperCase() }}  {{ element.toNetwork === 'testnet' ? '(Testnet)' : ''}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="rate">
        <th mat-header-cell *matHeaderCellDef> Rate </th>
        <td mat-cell *matCellDef="let element"> {{  (element.updatedRate || element.createdRate).toFixed(2) | mask: 'separator':',' }} </td>
      </ng-container>
    
         <!-- Symbol Column -->
         <ng-container matColumnDef="pendingReason">
          <th mat-header-cell *matHeaderCellDef > Pending Reason </th>
          <td mat-cell *matCellDef="let element"> {{ element.error }} </td>
        </ng-container>
    
         <!-- Symbol Column -->
         <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="status"> Status </th>
          <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
        </ng-container>
  
         <!-- Symbol Column -->
         <ng-container matColumnDef="lastModified">
          <th mat-header-cell *matHeaderCellDef mat-sort-header="lastModified"> Last Modified </th>
          <td mat-cell *matCellDef="let element"> {{ element.lastModifiedStr }} </td>
        </ng-container>
  
          <!-- Symbol Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element"> 
              <ion-button (click)="viewDetailOrder(element)">
                View detail
              </ion-button>
              <ng-container *ngIf="element.status === 'pending'">
                <ion-button (click)="handleChangeStatus(element)">Change status</ion-button>
                <ng-container *ngIf="element.isResolve">
                  <ion-button (click)="handleChangeResolve(element)">Resolve</ion-button>
                </ng-container>
              </ng-container>
              <!-- <ion-button (click)="handleOpenNoteDialog(element)">{{ element.note && element.note.trim().length > 0 ? 'update note' : 'add note'}}</ion-button> -->
            </td>
          </ng-container>
  
  
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [ngClass]="{'highlight': row.status === 'pending'}" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
    
    <mat-paginator [length]="length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="pageSizeOptions"
                   (page)="pageEvent = $event; onPaginateChange()"
                   aria-label="Select page">
    </mat-paginator>
  
</div>
