<div id="g_id_onload"
         data-client_id="287411092309-vovtceqbolmrn2krv8knpt0ovpa4u4ta.apps.googleusercontent.com"
         data-callback="handleCredentialResponse"
         data-auto_prompt="false">
</div>
<div class="g_id_signin" data-type="standard"></div>
<table mat-table  matSort (matSortChange)="sortData($event)" [dataSource]="sortedData" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> id </th>
      <td mat-cell *matCellDef="let element" class="truncate-cell id-cell"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="swapPairCode">
      <th mat-header-cell *matHeaderCellDef> Swap Pair </th>
      <td mat-cell *matCellDef="let element"> {{element.fromCoinCode}} / {{ element.toCoinCode }} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="rate">
      <th mat-header-cell *matHeaderCellDef> Rate </th>
      <td mat-cell *matCellDef="let element"> {{ element.updatedRate || element.createdRate }} </td>
    </ng-container>
  
       <!-- Symbol Column -->
       <ng-container matColumnDef="pendingReason">
        <th mat-header-cell *matHeaderCellDef > Pending Reason </th>
        <td mat-cell *matCellDef="let element"> {{ element.pendingReason }} </td>
      </ng-container>
  
       <!-- Symbol Column -->
       <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="status"> Status </th>
        <td mat-cell *matCellDef="let element"> {{ element.status }} </td>
      </ng-container>

       <!-- Symbol Column -->
       <ng-container matColumnDef="lastModified">
        <th mat-header-cell *matHeaderCellDef mat-sort-header="lastModified"> Last Modified </th>
        <td mat-cell *matCellDef="let element"> {{ element.lastModifiedStr }} </td>
      </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Edit </th>
          <td mat-cell *matCellDef="let element"> 
            <ion-button (click)="viewDetailOrder(element)">
              View detail
            </ion-button>
            <ng-container *ngIf="element.status === 'pending'">
              <ion-button (click)="handleChangeStatus(element)">Change status</ion-button>
              <ng-container *ngIf="element.isResolve">
                <ion-button (click)="handleChangeResolve(element)">Resolve</ion-button>
              </ng-container>
            </ng-container>
            <!-- <ion-button (click)="handleOpenNoteDialog(element)">{{ element.note && element.note.trim().length > 0 ? 'update note' : 'add note'}}</ion-button> -->
          </td>
        </ng-container>




  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
  
  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageEvent = $event; onPaginateChange()"
                 aria-label="Select page">
  </mat-paginator>

