<ion-content>
  <div class="fingerprint-container" [ngClass]="{'fingerprint-bg-dark': currentTheme === 'dark'}">
    <ng-container *ngFor="let flowOption of flowOptions">
      <div class="flow-container" (click)="navigateNextView(flowOption.isSimpleFlow)"
        [ngClass]="{'is-simple': flowOption.isSimpleFlow}">
        <p>
          {{ flowOption.content }}
        </p>
        <div class="button-container">
          <img *ngIf="!flowOption.isSimpleFlow" src="assets/img/select-flow/button-right-{{currentTheme}}.svg" />
          <img *ngIf="flowOption.isSimpleFlow" src="assets/img/select-flow/button-right-simple-{{currentTheme}}.svg" />
        </div>
      </div>
    </ng-container>
  </div>
</ion-content>