claim-voucher-modal {
    .card-gift {
        text-align: center;
        padding: 2rem 0;
        .title-gift {
            line-height: 32px;
            color: #060606;
        }
        p {
            color: rgba(0, 30, 46, 0.6);
            font-size: 16px;
            &.amount-gift {
                margin-bottom: 0;
            }
            &.sub-gift {
                margin-top: 0;
            }
        }
    }
}