<action-sheet>
  <div class="reply-to-container">
    <div class="reply-to-title">
      <ion-icon [src]="currentTheme == 'dark' ? 'assets/img/ico-reply-dark.svg' : 'assets/img/ico-reply-light.svg'"></ion-icon>
      {{'Replying to ' | translate }} {{ messageReplyInfo.addressTo }}
    </div>
    <div class="reply-to-message">
      {{messageReplyInfo.messageOnChain}}
    </div>
  </div>

  <form [formGroup]="messageReplySend">
    <mat-form-field appearance="outline">
      <mat-label translate>{{'Encrypted passphrase' | translate}}</mat-label>
      <textarea matInput formControlName="messageOnChain" [(ngModel)]="message" [placeholder]="'Input your message' | translate"></textarea>
    </mat-form-field>
  </form>

  <ion-button fill="clear" type="submit" class="button-standard safe-area button-send-onchain" (click)="send()">
    {{ 'Send' | translate }}
  </ion-button>
</action-sheet>
