app-dashboard{
    .mat-drawer-container{
        height: 100%;
    }
    .menu-button{
        font-size: 35px;
    }
    .menu-list{
        display: flex;
        flex-flow: column;
        a{
           margin: 20px;
        }
    }
    .custom-toolbar-row{
        display: flex;
        justify-content: space-between;
    }
}