mat-form-field{
    color: black;
}
p{
    color: black;
}
.password-container{
    padding-left: 16px;
}

.btn-import-seed{
    padding-left: 16px;
}

.msg-found-key{
    padding-left: 16px;
}

.btn-renew-password{
    padding-left: 16px;
}