mat-form-field {
	color: black;

	&.input-mnemonic {
		margin-bottom: 32px;
	}
}
mat-error {
  padding-left: 25px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

h1 {
	text-align: center;
}

label {
	margin-left: 17px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: rgba(0, 30, 46, 0.6);
}

p {
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	align-items: center;
	text-align: center;
	letter-spacing: 0.1px;
	justify-content: center;	
	color: #00658D;
}

a {
	text-decoration: none;
}

.password-container {
	padding-left: 16px;
}

.div-text-align {
	text-align: center;
}

input.mat-input-element {
	width: -webkit-fill-available;
	padding-left: 9px;
}
textarea.mat-input-element {
	padding-left: 9px;
}

ion-button.remove-shadow-root {
	padding: 9px 24px;
	background: #00658D;
	border-radius: 100px;
	--box-shadow: none;
}

.btn-import-seed {
	padding-left: 16px;
}

.msg-found-key {
	padding-left: 16px;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	display: flex;
	align-items: center;
	letter-spacing: 0.25px;
	color: rgba(0, 30, 46, 0.6);

	ion-icon {
		width: 50px;
		height: 20px;
	}
}

.btn-renew-password {
	padding-left: 16px;
}

::ng-deep {
	.mat-form-field-underline {
		display: none;
	}

	.mat-form-field-wrapper {
		padding-bottom: 0px;
		border: 1px solid #70818A;
		border-radius: 8px;
		margin-bottom: 32px;

		.mat-form-field-flex {
			padding: 0px !important;
		}
	}
	
	.input-password {
		.mat-form-field-wrapper {
			padding-bottom: 0px;
			border: 1px solid #70818A;
			border-radius: 8px;
			margin-bottom: 0px;
	
			.mat-form-field-flex {
				padding: 0px !important;
			}
		}

		button {
			margin-right: 10px;
			color: rgba(0, 30, 46, 0.6);
			background: #fff0;
		}
		ion-icon {
			width: 25px;
			height: 20px;
		}
	}

  .mat-form-field-final {
    .mat-form-field-wrapper {
			padding-bottom: 0px;
			border: 1px solid #70818A;
			border-radius: 8px;
			margin-bottom: 0px !important;
	
			.mat-form-field-flex {
				padding: 0px !important;
			}
		}
  }
}