<wide-header-page title="{{'Request specific amount' | translate}}">
  <ion-buttons slot="end">
    <ion-button class="info-specific" fill="clear" wide-header-bar-button (click)="showPaymentRequestInfo()">
      <ion-icon src="assets/img/wallet-details/wallet-info-{{currentTheme}}.svg" class="pointer"></ion-icon>
    </ion-button>
  </ion-buttons>
  <div page-content>
    <div class="amount-form">
      <form [formGroup]="amountCustomForm">
        <mat-form-field appearance="outline">
          <mat-label translate>Request amount</mat-label>
          <input (ngModelChange)="processAmount()" type="number" (blur)="getAmountCustom()" matInput
            formControlName="amountCustom" [value]="this.amountCustomForm.value.amountCustom"
            [placeholder]="'Request amount'" translate>
          <span (click)="changeUnit()" matSuffix>{{unit}}</span>
        </mat-form-field>
        <mat-hint *ngIf="altAmountStr">{{altAmountStr}} {{alternativeUnit}}</mat-hint>
      </form>
    </div>

    <div class="qr-container">
      <div class="card qr-card"
        copy-to-clipboard="{{ qrAddress }}">
        <ngx-qrcode hide-toast="true"
          value="{{ qrAddress }}"
          cssClass="aclass" [errorCorrectionLevel]="typeErrorQr.MEDIUM"></ngx-qrcode>
        <div class="address-text ellipsis">
          <span>{{ addressToken }}</span>
        </div>
      </div>
    </div>
  </div>
  <div footer-content>
    <ion-toolbar>
      <ion-button class="button-standard" *ngIf="isCordova" (click)="shareAddress()"
        [disabled]="this.amountCustomForm.value.amountCustom === ''">
        {{'Share this' | translate}}
      </ion-button>
    </ion-toolbar>
  </div>
</wide-header-page>