ion-item {
  --padding-start: 1rem;
  --padding-top: 0.5rem;
  --padding-bottom: 0.5rem;
  --color: var(--color-light-on-background-theme);
  --background: var(--bg-color-inner-item-light-theme) !important;
  --inner-padding-end: 0;
  font-size: 14px;

  ion-icon {
    &[name='checkmark-circle'] {
      width: 20px;
      height: 20px;
      color: var(--color-primary);
      margin-right: 1rem;
    }
  }

  ion-buttons {
      margin-right: 0;
  }

  &.edit-key-name {
    --padding-start: 0.5rem;
    --padding-end: 0.5rem;
    ion-input {
        --padding-start: 1rem;
        border: 2px solid var(--color-primary);
        height: 48px;
        border-right: 0 !important;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    ion-button {
        --padding-end: 1rem;
        --padding-start: 1rem;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        height: 48px;
        margin: 0;
        border: 2px solid var(--color-primary);
        border-left: 0;
        ion-icon {
            color: #37A372;
            width: 23px;
            height: 23px;
        }
    }
  }
  .btn-drag {
      margin-top: 0;
      --padding-end: 1rem;
  }
}
