<ion-item [disabled]="isDisableBtn" *ngIf="!isEditKeyName" (click)="getKeySelected(walletGroup[0]?.keyId)">
  <ion-icon
    [style]="
      keySelected[0]?.keyId === walletGroup[0]?.keyId
        ? ''
        : 'color: transparent;'
    "
    name="checkmark-circle"
    slot="start"
  ></ion-icon>
  <ion-label *ngIf="!isEditKeyName">{{ value }}</ion-label>
  <ion-buttons slot="end">
    <ion-button class="edit-flag-btn" (click)="editKeyChange()">
      <ion-icon src="assets/img/key-edit-{{ currentTheme }}.svg"></ion-icon>
    </ion-button>
    <ion-reorder>
      <ion-button class="btn-drag">
        <ion-icon src="assets/img/key-drag-{{ currentTheme }}.svg"></ion-icon>
      </ion-button>
    </ion-reorder>
  </ion-buttons>
</ion-item>
<ion-item (clickOutside)="onClickOutSide($event)" class="edit-key-name" *ngIf="isEditKeyName" #menuItem>
  <ion-input
    *ngIf="isEditKeyName"
    [autofocus]="isEditKeyName"
    [(ngModel)]="value"
  >
  </ion-input>
  <ion-button fill="clear" (click)="editKeyName(value)">
    <ion-icon slot="icon-only" name="checkmark-outline"></ion-icon>
  </ion-button>
</ion-item>
